---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";

interface Props {
    text: string;
    linkText?: string;
    href: string;
    icon: string;
}

const { text, linkText, href, icon } = Astro.props;
---

<div>
    <h3>
        <Icon name={`mdi:${icon}`} />
        {text}
    </h3>
    <p>
        <Link href={href}>{linkText || href}</Link>
    </p>
</div>

<style>
    h3 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0;
    }

    [data-icon] {
        vertical-align: text-top;
        font-size: 1.25em;
    }
</style>
